@import './globals.css';

@import './components/navbar.css';
@import './components/header.css';
@import './components/about.css';
@import './components/skills.css';
@import './components/projects.css';
@import './components/footer.css';

:root {
  --white: #ffffff;
  --gray: #d9d9d9;
  --black: #000000;
  --primary-color: #02073e;
  --secondary-color: #0f2137;
  --dark-secondary-color: #3c415c;
  --tertiary-color: #9a73c1;
  --light-tertiary-color: #f3f6fb;
  --text-color: #343d48;
  --font-family: 'DM Sans', sans-serif;
}

:root {
  --backgroundcolor:  #0a0e14;
  --titletext: #eee;
  --primary: #0e132f;
  --navpurple: #5a1b9a;
  --secundary: #5a1b9a;
}